<div class="pages-top">
  <div class="avatar-wrap">
    <div class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar">
    </div>
    <div class="user-info-wrap">
      <span class="user-name" title="{{userName}}">{{userName}}</span>
      <span class="user-post" title="{{userPost}}">{{userPost}}</span>
    </div>
  </div>

  <div class="collapse-menu" (click)="_sidebarToggle()">
    <!-- <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i> -->
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div>

  <div class="msg-tips-wrap">
    <a href="#/pages/observations-list">
      <div class="msg-entrance ring">
        <span class="fa fa-bell fa-fw"></span>
        <span class="badge" *ngIf="tip.ring"></span>
      </div>
    </a>

    <a [routerLink]="['login']">
      <div class="msg-entrance ring">
      <i class="icon-key"></i> Log Out 
    </div></a>
  </div>
 

</div>