<div class="pages-top">
  <div class="avatar-wrap">
    <div class="avatar">
      <img style="
    
      border: 3px solid #909090;
      border-radius: 5px;
  " src="{{avatarImgSrc}}" alt="avatar">
    </div>
    <div class="user-info-wrap">
      <span class="user-name" title="{{userName}}">{{userName}}</span>
      <span class="user-post" title="{{userPost}}">{{userPost}}</span>
    </div>
  </div>

  <div class="collapse-menu" (click)="_sidebarToggle()">
    <!-- <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i> -->
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div>

  <div class="">
      <img style="
      width: 90px;
      float: right;
      margin-right: 180px;
      margin-top: 15px;
      border: 3px solid #909090;
      border-radius: 5px;
  " src="{{TataImgSrc}}" alt="avatar">
    </div>

  <div class="msg-tips-wrap">

    <a href="pages/observations-list">
      <div class="msg-entrance ring">
        <span class="fa fa-bell fa-fw"></span>
        <span class="badge" *ngIf="tip.ring"></span>
      </div>
    </a>
    <!-- <notifier-container></notifier-container> -->
  

    <a [routerLink]="['login']">
      <div class="msg-entrance ring">
      <i class="icon-key"></i> Log Out 
    </div></a>
  </div>
 

</div>