<style>
.list-table{
  margin: 40px;
    background: #e0e0e0;
    padding: 10px;
    position: relative;
}

.list-table table{
 
    background: #fff;

}

.list-table table tr td{
 
 padding: 16px;
 

}

.list-table table tr th{
 
 font-size: 16px;
 

}

.table-view{
  background: #fff;
  padding: 20px;
}

#issue_search{

  
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #aba4a4;
}

.list-table select{
 
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #aba4a4;
}

/* .Select-Ward{
  position: absolute;
    top: 0;
    right: 460px;
    margin: 20px;
}

.Select-engineer{
  position: absolute;
    top: 0;
    right: 220px;
    margin: 20px;
} */

.list-table h4{
  margin: 20px;
    font-weight: bold;
}
.tip-ico img{
  width: 50px;
}



/* .Select-from-date{
  position: absolute;
    top: 0;
    left: 415px;
    margin: 20px;
}

.Select-to-date{
  position: absolute;
    top: 0;
    left: 665px;
    margin: 20px;
} */

.Select-from-date input{
  padding: 5px;
    border-radius: 5px;
    border: 2px solid #aba4a4;
}

.Select-to-date input{
  padding: 5px;
    border-radius: 5px;
    border: 2px solid #aba4a4;
}

.filter-list{
  display: flex;
  flex-wrap:wrap;
}
.filter{
  margin: 15px 18px;
}

.demo-chart {
  height: 400px;
}
</style>
<div class="row">
  <div class="col-md-3  col-sm-3 animated fadeIn" (click)="showListTable(1);getDashboardAllData()">
    
    <div class="card card-block tip-card" id="total_issue_id">
      <div class="tip-msg">
        <h3>Total Complaints</h3>
        <span>{{DashboardDataCount}}</span>
      </div>
      <button class="tip-ico tip-ico-info">
        <!-- <i class="fa fa-group fa-fw"></i> -->
        <img src="assets/images/issue.png" alt="card_icon" />
      </button>
    </div>
 
  </div>
  <div class="col-md-3 col-sm-3 animated fadeIn" (click)="showListTable(2);getDashboardResolvedData(3)">
    <div class="card card-block tip-card" id="resolved_issue_id">
      <div class="tip-msg">
        <h3>Total Resolved Complaints</h3>
        <span>{{DashboardResolvedDataCount}}</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <!-- <i class="fa fa-comments fa-fw"></i> -->
        <img src="assets/images/resolved_issue.png" alt="card_icon" />
      </button>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 animated fadeIn" (click)="showListTable(3);getDashboardPendingData(1)">
    <div class="card card-block tip-card" id="pending_issue_id">
      <div class="tip-msg">
        <h3>Total Pending Complaints</h3>
        <span>{{DashboardPendingDataCount}}</span>
      </div>
      <button class="tip-ico tip-ico-primary">
        <!-- <i class="fa fa-warning fa-fw"></i> -->
        <img src="assets/images/peding_issue.png" alt="card_icon" />
      </button>
    </div>
  </div>

  <div class="col-md-3 col-sm-3 animated fadeIn" (click)="showListTable(4);getDashboardEscalatedData()">
    <div class="card card-block tip-card" id="excalated_issue_id">
      <div class="tip-msg">
        <h3>Total Escalated Complaints</h3>
        <span>{{DashboardEscalatedDataCount}}</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <!-- <i class="fa fa-warning fa-fw"></i> -->
        <img src="assets/images/e_issue.png" alt="card_icon" />
      </button>
    </div>
  </div>

  
</div>

<div class="row" *ngIf="tableTotalIssues">
    <h4 style="margin-left: 20px;font-weight: bold;color: #fca400;">Total Complaints List: </h4>
  <div class="list-table">
    <form #myForm="ngForm" (ngSubmit)="filterData(myForm,1);getGraphData(myForm,1);">
    <div class="filter-list">
    <div class="Select-from-date filter" style="
    margin-right: 110px;
">
            <label>Select Date</label>
            <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" id="myDatepicker" [(ngModel)]="mydaterange"
                required></my-date-range-picker>
      
    </div>

    <!-- <div class="Select-to-date filter">
      <label>To Date:</label>
      <input type="date" name="toDate" [(ngModel)]="toDate"/>
    </div> -->

    
    <div class="Select-Ward filter">
    <label>Select Area/Sector:</label>
    <!-- <select  (change)="getDashboardDataByWard($event.target.value)"> -->
      <select name="wards" [(ngModel)]="wards">
      <option class="select-title" value="">Select Area/Sector</option>
      <option *ngFor="let objj of WardData" value="{{objj.id}}">{{objj.name}}</option>
    </select>
  </div>
  <div class="Select-engineer filter">
    <label>Select Engineer:</label>
    <select name="jrengineer" [(ngModel)]="jrengineer">
        <option class="select-title" value="">Select Engineer</option>
        <option *ngFor="let engineer of UserData" value="{{engineer.id}}">{{engineer.first_name}} {{engineer.last_name}}</option>
    </select>
  </div>
  <!-- <div class="Select-engineer filter">
    <label>Select Sr Engineer:</label>
        <select name="srengineer" [(ngModel)]="srengineer">
            <option class="select-title" value="">Select Engineer</option>
            <option *ngFor="let engineerr of UserDataSr" value="{{engineerr.id}}">{{engineerr.first_name}} {{engineerr.last_name}}</option>
        </select>
    
  </div> -->
  <button type="submit" class="btn btn-success btn-custom" style="
  height: 26px;
  margin-top: 20px;
">Filter</button>
<button type="reset" class="btn btn-success btn-custom" style="
height: 26px;
margin-top: 20px;margin-left: 20px;
" (click)="resetFilter();">Reset</button>
<div class="filter">
    <input id="issue_search" name="Search" type="text" placeholder="Search" [(ngModel)]="search"/>
  </div>
  </div>
  </form> 
  
<!-- <div class="filter"><a class="btn btn-success" style="
  /* float: left; */
  margin-left: 281px;
">Download Excel</a></div> -->

<!-- <button class="">Download Excel</button> -->
<!-- </div>  -->
    <div class="table-view table-responsive">          
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Ticket ID</th>
          <th>Date</th>
          <th>Creator Name</th>
          <!-- <th>Creator Mo. Number</th> -->
          <th>Complaint Description</th>
          <th>Location</th>
          <th>Sector</th>
          <th>Photos</th>
          <th>Assigned Engineer</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let DashboardData of DashboardData | filter: user| paginate: { itemsPerPage: 10, currentPage: p, id: 'd', totalItems: DashboardDataCount }  let i = index" [attr.data-index]="i">
          <td>{{DashboardData.id}}</td>
          <td>{{DashboardData.updatedAt | date :'short'}}</td>
          <td>{{DashboardData.first_name}} {{DashboardData.last_name}}</td>
          <!-- <td>{{DashboardData.mobile_no}}</td> -->
          <td>{{DashboardData.description}}</td>
          <td>{{DashboardData.latitude}} {{DashboardData.longitude}}</td>
          <td>{{DashboardData.ward_name}}</td>
          <!-- <td> <img src={{DashboardData.images}} alt="Photo" style="
            width: 80px;
        "/></td> -->
        <td> <label *ngFor="let images of DashboardData.images"><img src={{images.image}} alt="NoPhoto" style="
          width: 80px; margin: 3px
      "/></label></td>
          <td>{{DashboardData.engineer_name}}</td>
          <!-- <td><a class="btn btn-success" (click)="selectedId=DashboardData;SecondModal.open();">Assign</a></td> -->
          <td *ngIf= "DashboardData.status==1"> Pending</td>
          <td *ngIf= "DashboardData.status==2"> In Progress</td>
          <td *ngIf= "DashboardData.status==3"> Completed</td>
          <td *ngIf= "DashboardData.status==4"> PMC Issue</td>
          <td *ngIf= "DashboardData.status==5"> TPL Issue</td>
        </tr>
        
      </tbody>
    </table>
    <pagination-controls (pageChange)="pageChange(p = $event)" id="d"></pagination-controls>
    <a class="btn btn-success" style="
      float: right;
    " (click)="DownloadXlsxAll();">Download Excel</a>
  </div> 
  
  </div>
</div>

<div class="row" *ngIf="tableResolvedIssues">
    <h4 style="margin-left: 20px;font-weight: bold;color: #fca400;">Total Resolved Complaints List</h4>
  <div class="list-table">
   
      <form #myForm="ngForm" novalidate (ngSubmit)="filterData(myForm,1);">
          <div class="filter-list">
          <div class="Select-from-date filter" style="
          margin-right: 110px;
      ">
                  <label>Select Date</label>
                  <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" id="myDatepicker" [(ngModel)]="mydaterange"
                      required></my-date-range-picker>
            
          </div>
      
          <!-- <div class="Select-to-date filter">
            <label>To Date:</label>
            <input type="date" name="toDate" [(ngModel)]="toDate"/>
          </div> -->
      
          
          <div class="Select-Ward filter">
          <label>Select Area/Sector:</label>
          <!-- <select  (change)="getDashboardDataByWard($event.target.value)"> -->
            <select name="wards" [(ngModel)]="wards">
            <option class="select-title" value="">Select Area/Sector</option>
            <option *ngFor="let objj of WardData" value="{{objj.id}}">{{objj.name}}</option>
          </select>
        </div>
        <div class="Select-engineer filter">
          <label>Select Engineer:</label>
          <select name="jrengineer" [(ngModel)]="jrengineer">
              <option class="select-title" value="">Select Engineer</option>
              <option *ngFor="let engineer of UserData" value="{{engineer.id}}">{{engineer.first_name}} {{engineer.last_name}}</option>
          </select>
        </div>
        <!-- <div class="Select-engineer filter">
          <label>Select Sr Engineer:</label>
              <select name="srengineer" [(ngModel)]="srengineer">
                  <option class="select-title" value="">Select Engineer</option>
                  <option *ngFor="let engineerr of UserDataSr" value="{{engineerr.id}}">{{engineerr.first_name}} {{engineerr.last_name}}</option>
              </select>
          
        </div> -->
        <button type="submit" class="btn btn-success btn-custom" style="
        height: 26px;
        margin-top: 20px;
      ">Filter</button>

      <button type="reset" class="btn btn-success btn-custom" style="
height: 26px;
margin-top: 20px;margin-left: 20px;
" (click)="resetFilter();">Reset</button>
      <div class="filter">
          <input id="issue_search" name="search" type="text" placeholder="Search" [(ngModel)]="search"/>
        </div>
        </div>
        </form> 
    <div class="table-view table-responsive">          
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Date</th>
            <th>Creator Name</th>
            <!-- <th>Creator Mo. Number</th> -->
            <th>Complaint Description</th>
            <th>Location</th>
            <th>Sector</th>
            <th>Photos</th>
            <!-- <th>Assigned Engineer</th> -->
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let DashboardData of DashboardResolvedData| filter: Resolveduser| paginate: { itemsPerPage: 10, currentPage: p,id: 'e', totalItems: DashboardResolvedDataCount }  let i = index" [attr.data-index]="i">
            <td>{{DashboardData.id}}</td>
            <td>{{DashboardData.updatedAt | date :'short'}}</td>
            <td>{{DashboardData.first_name}} {{DashboardData.last_name}}</td>
            <!-- <td>{{DashboardData.mobile_no}}</td> -->
            <td>{{DashboardData.description}}</td>
            <td>{{DashboardData.latitude}} {{DashboardData.longitude}}</td>
            <td>{{DashboardData.ward_name}}</td>
            <!-- <td> <img src={{DashboardData.images}} alt="Photo" style="
              width: 80px;
          "/></td> -->
          <td> <label *ngFor="let images of DashboardData.images"><img src={{images.image}} alt="NoPhoto" style="
            width: 80px; margin: 3px
        "/></label></td>            
            <td>{{DashboardData.engineer_name}}</td>
            <!-- <td><a class="btn btn-success" (click)="selectedId=DashboardData;SecondModal.open();">Assign</a></td> -->
          </tr>
          
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChange2(p = $event)" id="e"></pagination-controls>
         
      <a class="btn btn-success" style="
      float: right;
    " (click)="DownloadXlsxAll();">Download Excel</a>
  </div> 
  </div>
</div>

<div class="row" *ngIf="tablePendingIssues">
    <h4 style="margin-left: 20px;font-weight: bold;color: #fca400;">Total Pending Complaints List</h4>
  <div class="list-table">
      <form #myForm="ngForm" novalidate (ngSubmit)="filterData(myForm,1);">
          <div class="filter-list">
          <div class="Select-from-date filter" style="
          margin-right: 110px;
      ">
                  <label>Select Date</label>
                  <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" id="myDatepicker" [(ngModel)]="mydaterange"
                      required></my-date-range-picker>
            
          </div>
      
          <!-- <div class="Select-to-date filter">
            <label>To Date:</label>
            <input type="date" name="toDate" [(ngModel)]="toDate"/>
          </div> -->
      
          
          <div class="Select-Ward filter">
          <label>Select Area/Sector:</label>
          <!-- <select  (change)="getDashboardDataByWard($event.target.value)"> -->
            <select name="wards" [(ngModel)]="wards">
            <option class="select-title" value="">Select Area/Sector</option>
            <option *ngFor="let objj of WardData" value="{{objj.id}}">{{objj.name}}</option>
          </select>
        </div>
        <div class="Select-engineer filter">
          <label>Select Engineer:</label>
          <select name="jrengineer" [(ngModel)]="jrengineer">
              <option class="select-title" value="">Select Engineer</option>
              <option *ngFor="let engineer of UserData" value="{{engineer.id}}">{{engineer.first_name}} {{engineer.last_name}}</option>
          </select>
        </div>
        <!-- <div class="Select-engineer filter">
          <label>Select Sr Engineer:</label>
              <select name="srengineer" [(ngModel)]="srengineer">
                  <option class="select-title" value="">Select Engineer</option>
                  <option *ngFor="let engineerr of UserDataSr" value="{{engineerr.id}}">{{engineerr.first_name}} {{engineerr.last_name}}</option>
              </select>
          
        </div> -->
        <button type="submit" class="btn btn-success btn-custom" style="
        height: 26px;
        margin-top: 20px;
      ">Filter</button>
      <button type="reset" class="btn btn-success btn-custom" style="
height: 26px;
margin-top: 20px;margin-left: 20px;
" (click)="resetFilter();">Reset</button>
      <div class="filter">
          <input id="issue_search" name="Search" type="text" placeholder="Search" [(ngModel)]="search"/>
        </div>
        </div>
        </form> 
    <div class="table-view table-responsive">          
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Date</th>
            <th>Creator Name</th>
            <!-- <th>Creator Mo. Number</th> -->
            <th>Complaint Description</th>
            <th>Location</th>
            <th>Sector</th>
            <!-- <th>Assigned Engineer</th> -->
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let DashboardData of DashboardPendingData | paginate: { itemsPerPage: 10, currentPage: p,id: 'f', totalItems: DashboardPendingDataCount }  let i = index" [attr.data-index]="i">
            <td>{{DashboardData.id}}</td>
            <td>{{DashboardData.updatedAt | date :'short'}}</td>
            <td>{{DashboardData.first_name}} {{DashboardData.last_name}}</td>
            <!-- <td>{{DashboardData.mobile_no}}</td> -->
            <td>{{DashboardData.description}}</td>
            <td>{{DashboardData.latitude}} {{DashboardData.longitude}}</td>
            <td>{{DashboardData.ward_name}}</td>
            <!-- <td> <img src={{DashboardData.images}} alt="Photo" style="
              width: 80px;
          "/></td> -->
            <!-- <td>{{DashboardData.engineer_first_name}} {{DashboardData.engineer_last_name}}</td> -->
            <td>
              <!-- <a class="btn btn-success" (click)="selectedId=DashboardData;SecondModal.open();">Assign</a> -->
              <a class="btn btn-success" (click)="selectedId=DashboardData;ThirdModal.open();">ChangeSector</a>
            </td>
          </tr>
          
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChange3(p = $event)" id="f"></pagination-controls>
      <a class="btn btn-success" style="
      float: right;
    " (click)="DownloadXlsxAll();">Download Excel</a>
  </div> 
  </div>
</div>

<div class="row" *ngIf="tableExcalatedIssues">
    <h4 style="margin-left: 20px;font-weight: bold;color: #fca400;">Total Excalated Complaints List</h4>
  <div class="list-table">
    
      <form #myForm="ngForm" novalidate (ngSubmit)="filterData(myForm,1);">
          <div class="filter-list">
          <div class="Select-from-date filter" style="
          margin-right: 110px;
      ">
                  <label>Select Date</label>
                  <my-date-range-picker name="mydaterange" [options]="myDateRangePickerOptions" id="myDatepicker" [(ngModel)]="mydaterange"
                      required></my-date-range-picker>
            
          </div>
      
          <!-- <div class="Select-to-date filter">
            <label>To Date:</label>
            <input type="date" name="toDate" [(ngModel)]="toDate"/>
          </div> -->
      
          
          <div class="Select-Ward filter">
          <label>Select Area/Sector:</label>
          <!-- <select  (change)="getDashboardDataByWard($event.target.value)"> -->
            <select name="wards" [(ngModel)]="wards">
            <option class="select-title" value="">Select Area/Sector</option>
            <option *ngFor="let objj of WardData" value="{{objj.id}}">{{objj.name}}</option>
          </select>
        </div>
        <div class="Select-engineer filter">
          <label>Select Engineer:</label>
          <select name="jrengineer" [(ngModel)]="jrengineer">
              <option class="select-title" value="">Select Engineer</option>
              <option *ngFor="let engineer of UserData" value="{{engineer.id}}">{{engineer.first_name}} {{engineer.last_name}}</option>
          </select>
        </div>
        <!-- <div class="Select-engineer filter">
          <label>Select Sr Engineer:</label>
              <select name="srengineer" [(ngModel)]="srengineer">
                  <option class="select-title" value="">Select Engineer</option>
                  <option *ngFor="let engineerr of UserDataSr" value="{{engineerr.id}}">{{engineerr.first_name}} {{engineerr.last_name}}</option>
              </select>
          
        </div> -->
        <button type="submit" class="btn btn-success btn-custom" style="
        height: 26px;
        margin-top: 20px;
      ">Filter</button>
      <button type="reset" class="btn btn-success btn-custom" style="
height: 26px;
margin-top: 20px;margin-left: 20px;
" (click)="resetFilter();">Reset</button>
      <div class="filter">
          <input id="issue_search" name="Search" type="text" placeholder="Search" [(ngModel)]="search"/>
        </div>
        </div>
        </form>  
    <div class="table-view table-responsive">          
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ticket ID</th>
            <th>Date</th>
            <th>Creator Name</th>
            <!-- <th>Creator Mo. Number</th> -->
            <th>Complaint Description</th>
            <th>Location</th>
            <th>Sector</th>
            <!-- <th>Photo</th> -->
            <th>Assigned Engineer</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let DashboardData of DashboardEscalatedData | paginate: { itemsPerPage: 10, currentPage: p,id: 'g', totalItems: DashboardEscalatedDataCount }  let i = index" [attr.data-index]="i">
            <td>{{DashboardData.id}}</td>
            <td>{{DashboardData.updatedAt | date :'short'}}</td>
            <td>{{DashboardData.first_name}} {{DashboardData.last_name}}</td>
            <!-- <td>{{DashboardData.mobile_no}}</td> -->
            <td>{{DashboardData.description}}</td>
            <td>{{DashboardData.latitude}} {{DashboardData.longitude}}</td>
            <td>{{DashboardData.ward_name}}</td>
            <!-- <td> <img src={{DashboardData.images}} alt="Photo" style="
              width: 80px;
          "/></td> -->
            <td>{{DashboardData.engineer_first_name}} {{DashboardData.engineer_last_name}}</td>
            <td>
              <!-- <a class="btn btn-success" (click)="selectedId=DashboardData;SecondModal.open();">Assign</a> -->
              <a class="btn btn-success" (click)="selectedId=DashboardData;ThirdModal.open();">ChangeSector</a>
            </td>
          </tr>
          
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChange(p = $event)" id="g"></pagination-controls>
         

      <a class="btn btn-success" style="
      float: right;
    " (click)="DownloadXlsxAll();">Download Excel</a>
  </div> 
  </div>
</div>


<div echarts [options]="EChartOption" class="demo-chart"></div>

<div class="row">

    <modal #SecondModal class="engineer">
      <modal-header>
        <h4>Assign Enginner</h4>
      </modal-header>
      <modal-content>
        <table class="table table-bordered" style="width:500px;" id="">
                                          <thead>
                                          <tr>
                                              <th>Jr Engineer</th>
                                              <th>Action</th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                  <td>
                                                      <input type = "hidden" name="name" id="name" placeholder="name" [(ngModel)] = "selectedId.id" ngModel>
                                                      <select name="jrengineer" [(ngModel)]="jrengineer">
                                                          <option class="select-title" value="">Select Jr Engineer</option>
                                                          <option *ngFor="let engineer of UserData" value="{{engineer.id}}">{{engineer.first_name}} {{engineer.last_name}}</option>
                                                      </select>
                                                  </td>
                                                  <td>  <input type="submit" (click) ="assignEngineer(selectedId.id,jrengineer);SecondModal.close()" value="Assign" class="btn btn-success"></td>
                                              </tr>
                                      </tbody>
                                  </table>
        <!-- <fieldset>
          <input type="submit" value="Update" />
        </fieldset> -->
      </modal-content>
      <modal-footer>
        <button class="btn btn-primary" (click)="SecondModal.close()">Back</button>
      </modal-footer>
    </modal>
  </div>
  <div class="row">

      <modal #ThirdModal class="engineer">
        <modal-header>
          <h4>Change Sector</h4>
        </modal-header>
        <modal-content>
          <table class="table table-bordered" style="width:500px;" id="">
                                            <thead>
                                            <tr>
                                                <th>Sectors</th>
                                                <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                    <td>
                                                        <input type = "hidden" name="name" id="name" placeholder="name" [(ngModel)] = "selectedId.id" ngModel>
                                                        <select name="wards" [(ngModel)]="objj">
                                                          <option class="select-title" value="">Select Sector</option>
                                                          <option *ngFor="let objj of WardData" value="{{objj.id}}">{{objj.name}}</option>
                                                        </select>
                                                    </td>
                                                    <td>  <input type="submit" (click) ="ChangeWard(selectedId.id,objj);ThirdModal.close()" value="Change" class="btn btn-success"></td>
                                                </tr>
                                        </tbody>
                                    </table>
          <!-- <fieldset>
            <input type="submit" value="Update" />
          </fieldset> -->
        </modal-content>
        <modal-footer>
          <button class="btn btn-primary" (click)="SecondModal.close()">Back</button>
        </modal-footer>
      </modal>
    </div>