<div class="row">
  <div class="col-md-4">
    <profile></profile>
  </div>
  <div class="col-md-8">
    <div class="row card card-block">
      <div class="col-md-6 form-group">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="col-md-6 form-group">
        <label class="control-label">Userpost</label>
        <input type="text" class="form-control" placeholder="Userpost">
      </div>
      
     
      <div class="col-md-12 form-group">
        <label class="control-label">Address</label>
        <textarea class="form-control" placeholder=""></textarea>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary">Update Profile</button>
      </div>
    </div>
  </div>
</div>
