<div class="card">
  <div class="profile-wrap animated fadeIn">
    <div class="info-wrap">
      <div class="avatar-wrap">
        <img src="{{avatarImgSrc}}" alt="avatar">
      </div>
      <span class="user-name">{{userName}}</span>
      <span class="user-post">{{userPost}}</span>
      
    </div>
    <div class="profile-head" style="height: 258px;">
      <img src="{{avatarImgSrc}}" alt="profile-head-bg" class="profile-head-bg">
    </div>

  </div>
</div>
